In [2]:
import numpy as np
import pandas as pd 
import sklearn.linear_model as lm
import sklearn.svm as svm
import sklearn.neighbors as nb
import sklearn.model_selection as cv
import sklearn.model_selection as gs
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn
import matplotlib #ipymd-skip
matplotlib.rcParams ['figure.dpi'] = matplotlib.rcParams['savefig.dpi'] = 144 # ipymd-skip

In [3]:
train = pd.read_csv('/home/ngoni/Machine-Learn-Titanic/datasets_1252_2234_Titanic.csv')
train.head(3) #display the first 3 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [7]:
data = train[['Sex', 'Ages', 'Pclass', 'Survived']]
data['Sex'] = data['Sex'] == 'female' #this is to convert to boolean
data = data.dropna() #clean the empty data

KeyError: "['Ages'] not in index"